{% extends "wrapper.html" %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}

    <div class="container">

        <!-- DANCERS -->
        <div class="row">

            <!-- <div class="text-right justify-content-end d-flex">
                <br><br>
                <h4 class="mb-5 font-weight-light">Dancers</h4>
            </div> -->

            {% for image in dancers_images %}
                <div class="col-4 p-1">
                    <div class="card border-0" style="border-radius: 0%;">
                        <img src="{{ image }}" alt="Dancers">
                    </div>
                </div>
            {% endfor %}

        </div>


        <!-- DAILY OBJECTS -->
        <div class="row align-items-center mb-5" style="margin-top: 15vh;">
            <div class="col-12 offset-xl-1">
                <h4 class="text-left mb-5 font-weight-light">Daily Objects</h4>
            </div>
        </div>

        <div class="row">

            <!-- <div class="text-right justify-content-end d-flex">
                <br><br>
                <h4 class="mb-5 mt-5 font-weight-light">Daily Objects</h4>
            </div> -->

            <div class="col-1"></div>
        
            <div class="col-10">
                <div class="row">
                    {% for image in daily_images %}
                    <div class="col-4 p-3">
                        <div class="card border-0" style="border-radius: 0%;">
                            <img src="{{ image }}" alt="Daily">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-1"></div>
        
        </div>


        <!-- MAGAZINE -->
        <div class="row align-items-center mb-5" style="margin-top: 15vh;">
            <div class="col-12 offset-xl-1">
                <h4 class="text-left mb-5 font-weight-light">Magazine</h4>
            </div>
        </div>

        <div class="row">

            <div class="col-1"></div>
        
            <div class="col-10">
                <div class="row">
                    {% for image in extra_images %}
                    <div class="col-md-6 py-3">
                        <div class="card border-0" style="border-radius: 0%;">
                            <img src="{{ image }}" alt="Daily">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        
            <div class="col-1"></div>
        
        </div>
    </div>
{% endblock %}