{% extends 'wrapper.html' %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}


<div class="row">
    <div class="col-xl-1">

    </div>

    <div class="col-xl-10 col-md-12">
        <section>

            <div class="image-columns">
                {% for image in images %}
                <div class="image-container">
                    <img src="{{ image }}" alt="Image" />
                </div>
                {% endfor %}
            </div>


            <br>
        </section>
    </div>

    <div class="col-xl-1"></div>
</div>

<button id="backToTopBtn" class="btn btn-floating"><i class="bi bi-caret-up"></i></button>

{% endblock %}