{% extends "wrapper.html" %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}

    <div class="container">

        <div class="row mb-5">
            <img class="p-2" src="{{ kriterion_image }}" alt="Kriterion">
        </div>


        <div class="row">
            <!-- <div class="col-md-1"></div> -->

            <!-- <div class="col-10">           -->
                <div class="image-columns">              
                    {% for image_file in image_files_bar %}
                        <!-- <div class="col-md-6 p-2">
                            <div class="card border-0" style="border-radius: 0%;"> -->
                                <img class="py-1" src="{{ image_file }}" alt="Bar">
                                <!-- <div class="card-body bg-light"> -->
                                    <!-- <h6 class="card-title">Item Title</h6> -->
                                <!-- </div> -->
                            <!-- </div>
                        </div> -->
                    {% endfor %}
                </div>

                <div class="row">
                    <img class="py-5" src="{{ main_image }}" alt="Kriterion">
                </div>

            <!-- </div>  -->

            <!-- <div class="col-md-1"></div>  -->
        </div>

        <div class="row">
            <div class="row justify-content-center align-items-center">
                {% for image_file in image_files_bioscoop %}
                <div class="col-md-6 p-2">
                    <div class="card border-0" style="border-radius: 0%;">
                        <img src="{{ image_file }}" alt="Bioscoop">
                        <!-- <div class="card-body bg-light"> -->
                        <!-- <h6 class="card-title">Item Title</h6> -->
                        <!-- </div> -->
                    </div>
                </div>
                {% endfor %} 
            </div>
        </div>

        <div class="row mb-5 mt-5">
            <img src="{{ poster_image }}" alt="Staat van Verval" style="width: 70%; margin: auto; display: block">
        </div>
        
    </div>
{% endblock %}